<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Expense Tracker</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <nav>

        <div class="logo">

            <h2>💰 Expense Tracker</h2>

        </div>

        <div class="nav-links">

            <a href="{{ url_for('main.home') }}">
                Dashboard
            </a>

            <a href="{{ url_for('main.add_expense') }}">
                Add Expense
            </a>

        </div>

    </nav>


    <main class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        {% block content %}

        {% endblock %}

    </main>

</body>

</html>